@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "libs/reset.scss";
@import "libs/mixins.scss";
$size10: 10px;
$size30: 30px;
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*LOADING OHMYFOOD*/
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height:100vh;
    background-color: rgb(14, 13, 13);
    /*loader on/off*/
    visibility: hidden;
    z-index:0;
    opacity: 0;
    animation: loaderStop 3000ms;
        @keyframes loaderStop {
            0% {
                visibility: visible;
                z-index: 15;
                opacity: 1;
            }50% {
                z-index: 15;
                opacity: 1;
            }99%{
                z-index: 15;
                opacity: 0.9;
            }100%{
                visibility: hidden;
                z-index:0;
                opacity: 0;
            }  
        }
        .container__animation {
            display: flex;
            column-gap: 10px;
            justify-content: center;
            align-items: flex-end;
            align-items: center;
            width: 100%;
            height: 90px;
            margin:  0 auto;
            padding: 0;
            .animation__o {
                    border-radius: 50px;
                    width: 70px;
                    height: 71px;
                    margin-right: 0px;
                    animation: bigCircle 1s linear infinite alternate,
                               rotateCircle 3s linear infinite;
            }
            @keyframes bigCircle {
                from {
                    box-shadow: 0 0 5px $primaire,
                                0 5px 5px $secondaire,
                                5px 0 5px $tertiaire,
                                0 0 5px whitesmoke;
                }to {
                    box-shadow: 0 -5px 5px $primaire,
                                -5px 0 5px $secondaire,
                                0 5px 5px $tertiaire,
                                -5px 0 5px whitesmoke;
                } 
            }    
            @keyframes rotateCircle {
                from {
                    transform: rotate(0deg);
                }to {
                    transform: rotate(360deg);
                }    
            } 
            @keyframes appearance {
                0% {
                    opacity:0;
                }100% {
                    opacity: 1;
                } 
            }
            /*Appearance loader letter*/
            @for $i from 1 through 7 {
                #loader__li--#{$i} {     
                    animation-delay: $i*300ms;
                } 
            }
            .loader__ul {
            display: flex;
            align-self: flex-end;
            align-items: flex-end;
          
                .loader__li {           
                    color: $tertiaire;
                    font-size: 1rem;
                    padding: 0px 5px;
                    animation-name: appearance;
                    animation-duration: 3000ms;
                    animation-delay: 0ms;
                    opacity: 0;
                }
                .loader__li:not(#loader__li--1) {
                    padding-bottom: 4px;
                }
                #loader__li--1{
                    
                     font-size: 2rem;
                     margin-right: 5px;
                     padding: 0;
                     color: $primaire;
                     text-transform:capitalize;
                }
           }
        } 
        /*PLATE ANIMATION*/ 
        .underline__loader {
            position: absolute;
            top: 63%;
            border-radius: 0 0px 200px 200px;
            width: 0px;
            height: 10px;
            border: transparent solid 2px;
            opacity: 0;
            box-shadow: 0 0 5px $primaire,
                        0 5px 5px $secondaire,
                        5px 0 5px $tertiaire,
                        0 0 5px whitesmoke;
            animation: widthPlate 8000ms;
        }
        @keyframes widthPlate {
            0% {
                opacity: 1;
                width: 0;
                height: 50px;
            }50%{
                
                height:10px;
            }100% {
                height:3px;

                width: 300px;
                opacity:1;
            } 
        } 
        .underline__loader__hot {
            border-top:solid transparent 1px;
            position: absolute;
            top: 60%;
            box-shadow: 0px -5px 4px $primaire,
            0 -18px 5px $secondaire,
            0px -10px 5px $tertiaire,
            0 -20px 10px whitesmoke;
            width: 0px;
            animation: widthPlateHot 8000ms,
                       rotateHot 1000ms linear infinite alternate;

        }
        @keyframes widthPlateHot {
            0% {
                width: 0;     
            }100% {
                width: 270px;
            } 
        }
        @keyframes rotateHot {
            from {
                box-shadow: 15px 5px 5px $primaire,
                            0 15px 5px $secondaire,
                            15px 5px 5px $tertiaire,
                            0 20px 5px whitesmoke;
            }to {
                box-shadow: 0 15px 5px $primaire,
                            15px 5px 5px $secondaire,
                            5px 15px 5px $tertiaire,
                            5px 5px 5px whitesmoke;
            }    
        } 
   
}



/************************HEADER CONTAINER/LOGO/TITRE/EXPLORER RESTAURANTS***********************/
.header__container {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    width: 100%;
    @include shadowMain;
    .header__container_image {
        width: 100%;
        background-color: white;
    }
    .header__image {
        width: 40%;
        margin: 15px auto;
        font-family: "Shrikhand", cursive;
        text-align: center;
    }
    .header__localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3%;
        background: rgb(234, 234, 234);
        background: linear-gradient(0deg, #ebe9e9 80%, #d4d4d4 100%);
        width: 100%;
        max-width: 1400px;
        padding: 15px 0;
        & p {
            font-weight: 700;
        }
        .fa-map-marker-alt {
            font-size: 13px;
        }
        .fa-map-marker-alt:hover {
            font-size: 15px;
        }
        & ::placeholder {
            background-color: #ebe9e9;
            border-style: none;
            color: black;
            font-weight: 700;
            text-align: center;
        }
        #name {
            background-color: #ebe9e9;
            border-style: none;
        }
        #name:hover {
            background-color: #9b9999;
        }
    }
    .header__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 30px 20px;
        text-align: center;
        & h2 {
            font-weight: 900;
        }
    }
    .header__button {
        @include bouton;
        margin: 0 0 50px 0;
    }
}
/**************************MAIN CONTAINER SECTIONH3CHOISE AND SECTIONH3CARD**********************/
.main__container {
    margin: auto;
    max-width: 1440px;
}
/******************SECTION SECTION H3 AND FONCTIONNEMENT /CHOISE /RESTAURANTS/MENU/DEGUSTEZ**********/
.navH3Choise,
.articleH3Choise {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 15px 15px 60px 15px;
    & h3 {
        font-weight: 900;
        max-width: 330px;
        width: 100%;
        margin: auto;
    }
    .navH3Choise__content {
        position: relative;
        @include shadow;
        border-radius: 20px;
        width: 95%;
        max-width: 800px;
        margin: auto;
        background-color: #f6f6f6;
        text-align: center;
        font-weight: 700;
        padding: 10px 0;
        transition: transform 1s;
        transform: scale(1);
        & .number_circle {
            position: absolute;
            background-color: $primaire;
            border-radius: 50%;
            padding: 2px 6px;
            color: white;
            font-size: 13px;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
        }
        & .fas {
            padding-right: 10%;
            margin-left: 15px;
        }
        .fa-mobile-alt,
        .fa-list-ul,
        .fa-store {
            color: #7e7e7e;
        }
        & :hover .fas {
            color: $primaire;
        }
    }
    }
    .navH3Choise__content:hover {
        transform: scale(1.02);
    }
/**********************************SECTION ARTICLES H3 AND CARD*****************************/
.sectionH3Card {
    background-color: #f6f6f6;
    max-width: 900px;
    margin: auto;
    z-index: 10;
    & h3 {
        font-weight: 900;
        padding: 20px;
        width: 100%;
        max-width: 330px;
        margin: auto;
    }
    .container__articles {
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 2rem;
        justify-content: space-around;
        padding: 0 20px 33px 20px;
        .card {
            border-radius: 20px;
            @include shadow;
            background-color: white;
        }
        .card:hover {   
            z-index: 10;
            opacity: 0.8;
        }
        .card__image {
            object-fit: cover;
            @include two-bottom-rouned-corners;
        }
        .card__content {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            & h4 {
                font-weight: 700;
                padding: 5px 0 0 10px;
            }
            & p {
                padding: 0 0 10px 10px;
                font-weight: 100;
            }
            .card__heart {
                position: absolute;
                align-self: flex-end;
                margin-right: 9px;
                color: black;
                font-size: 19px;
            }
            .card__heart2 {
                color: #fff;
                position: absolute;
                align-self: flex-end;
                margin-right: 10px;
            }
            .card__heart2::before {
                font-weight: bold;
                transition: color 1s ease-out;
            }
            .card__heart2:hover::before {
                color: #b260db;
            }
        }
    }
}
@media screen and (min-width: 780px) {
    .navH3Choise h3,
    .sectionH3Card h3 {
        text-align: center;
    }
    .sectionH3Card {
        @include rounded20();
        margin-bottom: 50px;
    }    
}

/*************PAGE LA PALETTE DU GOUT***************************/
.main__paletteDuGout__container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    @include shadowMain;
    & container__img {
        object-fit: cover;
    }
}
.header__container_image {
    position: relative;
    .fa-arrow-left {
        position: absolute;
        font-size: 1rem;
        margin: 18px 0 0 10px;
    }
}
.section__h2 {
    display: flex;
    justify-content: space-between;
    @include two-bottom-rouned-corners;
    background-color: white;
    position: relative;
    width: 100%;
    margin: -40px auto 0px auto;
   
   padding: 30px 10px;
    text-align: center;
    & h2 {
        font-weight: bold;
        font-family: "Shrikhand", cursive;
        font-style: italic;
        font-size: 21px;
    }
    /*HEART PAGES*/
    .section__heart {
        position: absolute;
        align-self: flex-end;
        right: 8px;
        font-size: 25px;
        color: black;
        font-weight: bolder;
        align-self: center;
    }
    .section__heart2 {
        position: absolute;
        align-self: center;
        color: #fff;
        right: 12px;
        font-size: 19px;
    }
    .section__heart2::before {
        font-weight: bold;
        transition: color 1s ease-out;
    }
    .section__heart2:hover::before {
        color: #b260db;
    }
}
@media screen and (min-width: 780px) {
    .section__h2 {
              padding: 40px;
        & h2 {
              font-size: 30px;
        }
        .section__heart {
              right: 48px;
              font-size: 37px;
        }
        .section__heart2 {
              right: 52px;
              font-size: 29px;
           
        }
    }
}
@media screen and (min-width: 980px) {
    .section__h2 {
        @include two-bottom-rouned-corners2;
    }
}
@media screen and (min-width: 780px) {
    .header__container_image {
        .fa-arrow-left {
            font-size: 2rem;
            margin: 30px 0 0 10px;
        }
    }
}
/**********************************ARTICLES BARRE SOUS CHOISE MENU FOR FOUR PAGES****************/
.articleH3Choise h3 {
    color: $tertiaire;
    display: inline;
    font-weight: normal;
}
.articleH3Choise h3::after {
    content: "";
    display: block;
    background-color: $tertiaire;
    height: 3px;
    width: 15%;
}
/*********************************BOUCLE FOR ENTREE/PLATS/DESSERTS CHOISE MENU FOR FOUR PAGES***********/
.articleH3Choise__container {
    animation: slide both;
    animation-duration: 3000ms;
    animation-delay: 0ms;
    margin-top: 20px;
    opacity: 0;
}
@keyframes slide {
    0% {
        margin-top: 25px;
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.3;
    }
    100% {
        margin-top: 20px;
        opacity: 1;
    }
}
@for $i from 1 through 9 {
    #mDelay-#{$i} {
        animation-delay: $i * 300ms;
    }
}
/****************************ARTICLES DES ENTREES/PLATS/DESSERTS******************/
.articleH3Choise__container a {
    display: flex;
    @include shadow;
    border-radius: 10px 10px 10px 10px;
    width: 95%;
    max-width: 800px;
    margin: auto;
    background-color: $tertiaire;
    overflow: hidden;
    /*CONTAINER TEXT *******************************/
    .articleH3Choise__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include two-bottom-rouned-corners-left;
        background-color: #ece3e3;
        text-align: center;
        width: 100%;
        padding: 10px 10px !important;
        transition-property: width;
        transition-duration: 1s;
        .articleH3Choise__content--h3AndP {
            width: 80%;      
        }
        & h4 {
            font-weight: 900;
            padding: 1%;
            text-align: start;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        & p {
            padding: 1%;
            text-align: start;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .articleH3Choise__content--euros {
            align-self: flex-end;
            font-weight: 900;
            min-width: 30px;
        }
    }
    /********************************************ANIMATION CHOISE PAGE>ENTREE>PLATS****************************************************************/
    .articleH3Choise__content__anim {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @include two-bottom-rouned-corners-right;
        background-color: transparent;
        width: 0px;
        /*transition etirement de la div sur hover***********************************************/
        transition-property: width;
        transition-duration: 1s;
    }
    .articleH3Choise__content:hover{
        width: 80%;
        transition-duration: 1000ms;
    }
    .articleH3Choise__content:hover + .articleH3Choise__content__anim {
        /*transition ***********************************************/
        width: 80px;
        animation: roll 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        transform: rotate(360deg);
    }
    .fa-check {
        padding: 5px;
        border-radius: 50px;
        background-color: white;
        color: #99e1cf;
    }
    /*rotation de .fa-check div articleH3Choise__content__anim*/
    @keyframes roll {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    }
    .section__button {
        width: 100%;
        display: flex;
        justify-content: center;
        .section__button--commander {
            @include bouton;
            margin: 40px auto;
            padding: 15px 50px;
        }
    }
   
    /*************************************FOOTER**********************************************/
.footer__container {
        width: 100%;
        padding: 20px;
        color: white;
        background-color: #353535;
        .footer__content {
            width: 100%;
            max-width: 1000px;
            margin: auto;
            .footer__logo {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
            & p {
                font-size: 15px;
                font-weight: normal !important;
                padding: 5px;
             }
            }
            & h5 {
                width: 100%;
                margin: auto;
                max-width: 1400px;
                font-family: "Shrikhand", cursive;
                padding: 10px 0;
            }
            & a {
                color: white;
                padding: 0;
            }
            & p:hover,
            p a:hover {
                color: $tertiaire;
            }
            @media screen and (min-width: 780px) {
                .footer__content {
                    display: flex;
                    justify-content: space-around;
                }
                & h5 {
                    text-align: center;
                    padding: 10px;
                }
            }
    }

