@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "libs/reset.scss";
@import "libs/mixins.scss";
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/************************HEADER CONTAINER/LOGO/TITRE/EXPLORER RESTAURANTS***********************/
.header__container {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    width: 100%;
    .header__container_image {       
        width: 100%;
        background-color: white;
    }
    .header__image {
        width: 40%;
        margin: 15px auto;
        font-family: "Shrikhand", cursive;
        text-align: center;
    }
    .header__localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3%;
        background-color: $tertiaire;
        background: linear-gradient(#99e2d0, #ebf3f3);
        width: 100%;
        max-width: 1400px;
        padding: 15px 0;
        & p {
            font-weight: 700;
        }
        .fa-map-marker-alt {
            font-size: 13px;
        }
    }
    .header__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 30px 20px;
        text-align: center;
        & h2 {
            font-weight: 900;
        }
    }
    .header__button {
        @include border-rounded;
        background-color: $primaire;
        background: linear-gradient(150deg, #e07cc4 10%, #9c70d3 95%);
        @include shadow;
        border: none;
        color: white;
        font-size: 1rem;
        padding: 15px 20px;
        margin: 0 0 50px 0;
    }
    .header__button:hover {
        box-shadow: 0 0 2px black;
    }
}
/**************************MAIN CONTAINER SECTIONH3CHOISE AND SECTIONH3CARD**********************/
.main__container {
    margin: auto;
    max-width: 1440px;
}
/******************SECTION SECTION H3 AND FONCTIONNEMENT /CHOISE /RESTAURANTS/MENU/DEGUSTEZ**********/
.navH3Choise, .articleH3Choise {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 15px 15px 60px 15px;
    & h3 {
        font-weight: 900;
        max-width: 330px;
        width: 100%;
        margin: auto;
    }
    .navH3Choise__content {
        position: relative;
        @include shadow;
        border-radius: 20px;
        width: 95%;
        max-width: 800px;
        margin: auto;
        background-color: #ece3e3;
        text-align: center;
        font-weight: 700;
        padding: 10px 0;
        & :hover {
            opacity: 0.6;
        }
        & .number_circle {
            position: absolute;
            background-color: $primaire;
            border-radius: 50%;
            padding: 2px 6px;
            color: white;
            font-size: 13px;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
        }
        & .fas {
            padding-right: 10%;
            margin-left: 15px;
        }
        .fa-mobile-alt,
        .fa-list-ul {
            color: $secondaire;
        }
        .fa-store {
            color: $primaire;
        }
    }  
}

/**********************************SECTION ARTICLES H3 AND CARD*****************************/
.sectionH3Card {
    max-width: 900px;
    margin: auto;
    background-color: #f6f6f6;
    & h3 {
        font-weight: 900;
        padding: 20px;
        width: 100%;
        max-width: 330px;
        margin: auto;
    }
    .container__articles {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 2rem;
        justify-content: space-around;
        padding: 0 20px 33px 20px;
        .card {
            @include four-rounded-corners;
            @include shadow;
            background-color: white;
        }
        .card__image {
            object-fit: cover;
            @include two-bottom-rouned-corners;
        }
        .card__content {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            & h4 {
                font-weight: 700;
                padding: 5px 0 0 10px;
            }
            & p {
                padding: 0 0 10px 10px;
                font-weight: 100;
            }
            .card__heart {
                position: absolute;
                align-self: flex-end;
                margin-right: 9px;
                color: black;
                font-size: 19px;
            }
            .card__heart2 {
                color: #fff;
                position: absolute;
                align-self: flex-end;
                margin-right: 10px;
            }
            .card__heart2::before {
                font-weight: bold;
                transition: color 1s ease-out;
            }
            .card__heart2:hover::before {
                color: $primaire;
            }
        }
    }
}
@media screen and (min-width:780px) {
    .navH3Choise h3, .sectionH3Card h3 {        
            text-align: center;
    }
        
}

/*************************************FOOTER**********************************************/
.footer__container {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #353535;
    .footer__content {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        .footer__logo {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
        & p {
            font-size: 15px;
            font-weight: normal !important;
            padding: 5px;
        }
    }
    & h5 {
        width: 100%;
        margin: auto;
        max-width: 1400px;
        font-family: "Shrikhand", cursive;
        padding: 10px 0;
        

    }
    & a {
        color: white;
        padding: 0;
    }
    & p:hover,
      p a:hover {
        color: $tertiaire;
        
    }
    @media screen and (min-width:780px) {
        .footer__content {
            display: flex;
            justify-content: space-around;
        }
        & h5 {
            text-align: center;
            padding: 10px;
        }
    }
}
/*************PAGE LA PALETTE DU GOUT***************************/
.main__paletteDuGout__container {
    & container__img {
        object-fit: cover;
    }
}
.header__container_image {
     position: relative;
     .fa-arrow-left {
         position: absolute;
         font-size:1.2rem;
         margin: 20px;
         max-height: 50px;

     }
}
.section__h2 {
       position: absolute;
        display: flex;
        justify-content: space-between;
        @include two-bottom-rouned-corners;
        background-color: white;
        max-width: 800px;
        position: relative;
        width: 100%;
        margin: -30px auto 40px auto;
        padding: 40px;
        text-align: center;
        & h2 {
            font-weight: bold;
            font-family: "Shrikhand", cursive;
            font-style: italic;
            font-size: 30px;
            
        }
        .section__heart {
            position: absolute;
            align-self: flex-end;
            right: 8px;        
            color: black;
            font-size: 37px;
            font-weight: bolder;
            align-self: center;

        
        }
        .section__heart2 {
            position: absolute;
            right: 12px;
            align-self: center;
            color: #fff;
            font-size: 29px;
         
        }
        .section__heart2::before {
            font-weight: bold;
            transition: color 1s ease-out;
        }
        .section__heart2:hover::before {
            color: $primaire;
        }
}
@media screen and (max-width:780px) {
    .section__h2 {
        display: flex;
        flex-direction: column;
        .section__heart {
            top:78px;
            right: 10px;
        }
        .section__heart2 {
            top:80px;
            right: 14px;   
        }
}
}
.articleH3Choise__container {
    display: flex;
    @include shadow;
    border-radius:10px 10px 10px 10px;
    width: 95%;
    max-width: 800px;
    margin: auto; 
    background-color:$tertiaire;
    overflow: hidden;
    .articleH3Choise__content { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include two-bottom-rouned-corners-left;  
        background-color: #ece3e3;
        text-align: center;
        width: 100%;
        padding: 10px 10px !important;
      
        & h4 {
            font-weight: 900;
            /*******pour reduire le texte mais ne fonctionne pas *****************/
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        & p {
            width: 100%;
            display: flex;
            justify-content: space-between;
            /*******pour reduire le texte mais ne fonctionne pas *****************/
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        & span {
            font-weight: 900;
        }
    }
   .articleH3Choise__content__anim {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @include two-bottom-rouned-corners-right;
        background-color:transparent;
        width: 0px;
        /*transition etirement de la div sur hover***********************************************/
        transition-property:width;
        transition-duration: 1s;
    }
    .articleH3Choise__content:hover + .articleH3Choise__content__anim {
        /*transition ***********************************************/
        width: 80px;
        animation: roll 1s cubic-bezier(.25,.46,.45,.94)both;
        transform: rotate(360deg);
    } 
    .fa-check {
        padding: 5px;
        border-radius: 50px;
        background-color: white;
        color: #99e1cf; 
    } 
    /*rotation de .fa-check div articleH3Choise__content__anim*/
    @keyframes roll {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360%);
        }   
    }
}
    
 
   

