@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  font-size: 20px;
}

h4 {
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/************************HEADER CONTAINER/LOGO/TITRE/EXPLORER RESTAURANTS***********************/
.header__container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.3);
}
.header__container .header__container_image {
  width: 100%;
  background-color: white;
}
.header__container .header__image {
  width: 40%;
  margin: 15px auto;
  font-family: "Shrikhand", cursive;
  text-align: center;
}
.header__container .header__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3%;
  background: #eaeaea;
  background: linear-gradient(0deg, #ebe9e9 80%, #d4d4d4 100%);
  width: 100%;
  max-width: 1400px;
  padding: 15px 0;
}
.header__container .header__localisation p {
  font-weight: 700;
}
.header__container .header__localisation .fa-map-marker-alt {
  font-size: 13px;
}
.header__container .header__localisation .fa-map-marker-alt:hover {
  font-size: 15px;
}
.header__container .header__localisation ::placeholder {
  background-color: #ebe9e9;
  border-style: none;
  color: black;
  font-weight: 700;
  text-align: center;
}
.header__container .header__localisation #name {
  background-color: #ebe9e9;
  border-style: none;
}
.header__container .header__localisation #name:hover {
  background-color: #9b9999;
}
.header__container .header__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 20px;
  text-align: center;
}
.header__container .header__content h2 {
  font-weight: 900;
}
.header__container .header__button {
  border-radius: 50px;
  background-color: #9356dc;
  background: linear-gradient(150deg, #e07cc4 10%, #9c70d3 95%);
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 15px 20px;
  margin: 0 0 50px 0;
}
.header__container .header__button:hover {
  box-shadow: 0 0px 4px black;
}

/**************************MAIN CONTAINER SECTIONH3CHOISE AND SECTIONH3CARD**********************/
.main__container {
  margin: auto;
  max-width: 1440px;
}

/******************SECTION SECTION H3 AND FONCTIONNEMENT /CHOISE /RESTAURANTS/MENU/DEGUSTEZ**********/
.navH3Choise,
.articleH3Choise {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 15px 15px 60px 15px;
}
.navH3Choise h3,
.articleH3Choise h3 {
  font-weight: 900;
  max-width: 330px;
  width: 100%;
  margin: auto;
}
.navH3Choise .navH3Choise__content,
.articleH3Choise .navH3Choise__content {
  position: relative;
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 95%;
  max-width: 800px;
  margin: auto;
  background-color: #f6f6f6;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  transition: transform 1s;
  transform: scale(1);
}
.navH3Choise .navH3Choise__content .number_circle,
.articleH3Choise .navH3Choise__content .number_circle {
  position: absolute;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 2px 6px;
  color: white;
  font-size: 13px;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.navH3Choise .navH3Choise__content .fas,
.articleH3Choise .navH3Choise__content .fas {
  padding-right: 10%;
  margin-left: 15px;
}
.navH3Choise .navH3Choise__content .fa-mobile-alt,
.navH3Choise .navH3Choise__content .fa-list-ul,
.navH3Choise .navH3Choise__content .fa-store,
.articleH3Choise .navH3Choise__content .fa-mobile-alt,
.articleH3Choise .navH3Choise__content .fa-list-ul,
.articleH3Choise .navH3Choise__content .fa-store {
  color: #7e7e7e;
}
.navH3Choise .navH3Choise__content :hover .fas,
.articleH3Choise .navH3Choise__content :hover .fas {
  color: #9356dc;
}

.navH3Choise__content:hover {
  transform: scale(1.02);
}

/**********************************SECTION ARTICLES H3 AND CARD*****************************/
.sectionH3Card {
  background-color: #f6f6f6;
  max-width: 900px;
  margin: auto;
}
.sectionH3Card h3 {
  font-weight: 900;
  padding: 20px;
  width: 100%;
  max-width: 330px;
  margin: auto;
}
.sectionH3Card .container__articles {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-content: space-around;
  padding: 0 20px 33px 20px;
}
.sectionH3Card .container__articles .card {
  border-radius: 20px;
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.sectionH3Card .container__articles .card:hover {
  opacity: 0.8;
}
.sectionH3Card .container__articles .card__image {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.sectionH3Card .container__articles .card__content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.sectionH3Card .container__articles .card__content h4 {
  font-weight: 700;
  padding: 5px 0 0 10px;
}
.sectionH3Card .container__articles .card__content p {
  padding: 0 0 10px 10px;
  font-weight: 100;
}
.sectionH3Card .container__articles .card__content .card__heart {
  position: absolute;
  align-self: flex-end;
  margin-right: 9px;
  color: black;
  font-size: 19px;
}
.sectionH3Card .container__articles .card__content .card__heart2 {
  color: #fff;
  position: absolute;
  align-self: flex-end;
  margin-right: 10px;
}
.sectionH3Card .container__articles .card__content .card__heart2::before {
  font-weight: bold;
  transition: color 1s ease-out;
}
.sectionH3Card .container__articles .card__content .card__heart2:hover::before {
  color: #b260db;
}

@media screen and (min-width: 780px) {
  .navH3Choise h3,
.sectionH3Card h3 {
    text-align: center;
  }

  .sectionH3Card {
    border-radius: 20px;
    margin-bottom: 50px;
  }
}
/*************************************FOOTER**********************************************/
.footer__container {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: #353535;
}
.footer__container .footer__content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.footer__container .footer__content .footer__logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer__container .footer__content p {
  font-size: 15px;
  font-weight: normal !important;
  padding: 5px;
}
.footer__container h5 {
  width: 100%;
  margin: auto;
  max-width: 1400px;
  font-family: "Shrikhand", cursive;
  padding: 10px 0;
}
.footer__container a {
  color: white;
  padding: 0;
}
.footer__container p:hover,
.footer__container p a:hover {
  color: #99e2d0;
}
@media screen and (min-width: 780px) {
  .footer__container .footer__content {
    display: flex;
    justify-content: space-around;
  }
  .footer__container h5 {
    text-align: center;
    padding: 10px;
  }
}

/*************PAGE LA PALETTE DU GOUT***************************/
.main__paletteDuGout__container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.3);
}
.main__paletteDuGout__container container__img {
  object-fit: cover;
}

.header__container_image {
  position: relative;
}
.header__container_image .fa-arrow-left {
  position: absolute;
  font-size: 1rem;
  margin: 18px 0 0 10px;
}

.section__h2 {
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  background-color: white;
  position: relative;
  width: 100%;
  margin: -40px auto 0px auto;
  padding: 40px;
  text-align: center;
}
.section__h2 h2 {
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 30px;
}
.section__h2 .section__heart {
  position: absolute;
  align-self: flex-end;
  right: 48px;
  color: black;
  font-size: 37px;
  font-weight: bolder;
  align-self: center;
}
.section__h2 .section__heart2 {
  position: absolute;
  right: 52px;
  align-self: center;
  color: #fff;
  font-size: 29px;
}
.section__h2 .section__heart2::before {
  font-weight: bold;
  transition: color 1s ease-out;
}
.section__h2 .section__heart2:hover::before {
  color: #b260db;
}

@media screen and (max-width: 780px) {
  .section__h2 {
    padding: 30px 10px;
  }
  .section__h2 h2 {
    font-size: 21px;
  }
  .section__h2 .section__heart {
    right: 8px;
    font-size: 25px;
  }
  .section__h2 .section__heart2 {
    right: 12px;
    font-size: 19px;
  }
}
@media screen and (min-width: 980px) {
  .section__h2 {
    border-radius: 50px 40px 0 0;
  }
}
@media screen and (min-width: 780px) {
  .header__container_image .fa-arrow-left {
    font-size: 2rem;
    margin: 30px 0 0 10px;
  }
}
/**********************************ARTICLES****************/
.articleH3Choise h3 {
  color: #99e2d0;
  display: inline;
  font-weight: normal;
}

.articleH3Choise h3::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  height: 3px;
  width: 15%;
}

/*********************************POUR BOUCLE FOR ENTREE/PLATS/DESSERTS***********/
.articleH3Choise__container {
  animation: slide both;
  animation-duration: 3000ms;
  animation-delay: 0ms;
  margin-top: 20px;
  opacity: 0;
}

@keyframes slide {
  0% {
    margin-top: 25px;
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.3;
  }
  100% {
    margin-top: 20px;
    opacity: 1;
  }
}
#mDelay-1 {
  animation-delay: 300ms;
}

#mDelay-2 {
  animation-delay: 600ms;
}

#mDelay-3 {
  animation-delay: 900ms;
}

#mDelay-4 {
  animation-delay: 1200ms;
}

#mDelay-5 {
  animation-delay: 1500ms;
}

#mDelay-6 {
  animation-delay: 1800ms;
}

#mDelay-7 {
  animation-delay: 2100ms;
}

#mDelay-8 {
  animation-delay: 2400ms;
}

#mDelay-9 {
  animation-delay: 2700ms;
}

/****************************ARTICLES DES ENTREES/PLATS/DESSERTS******************/
.articleH3Choise__container a {
  display: flex;
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  width: 95%;
  max-width: 800px;
  margin: auto;
  background-color: #99e2d0;
  overflow: hidden;
  /*CONTAINER TEXT *******************************/
  /********************************************ANIMATION****************************************************************/
  /*rotation de .fa-check div articleH3Choise__content__anim*/
}
.articleH3Choise__container a .articleH3Choise__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px 0 0 10px;
  background-color: #ece3e3;
  text-align: center;
  width: 100%;
  padding: 10px 10px !important;
}
.articleH3Choise__container a .articleH3Choise__content .articleH3Choise__content--h3AndP {
  width: 100%;
}
.articleH3Choise__container a .articleH3Choise__content h4 {
  font-weight: 900;
  padding: 1%;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.articleH3Choise__container a .articleH3Choise__content p {
  width: 100%;
  padding: 1%;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.articleH3Choise__container a .articleH3Choise__content .articleH3Choise__content--euros {
  align-self: flex-end;
  font-weight: 900;
  min-width: 30px;
  margin: 0;
}
.articleH3Choise__container a .articleH3Choise__content__anim {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0px 10px 10px 0;
  background-color: transparent;
  width: 0px;
  /*transition etirement de la div sur hover***********************************************/
  transition-property: width;
  transition-duration: 1s;
}
.articleH3Choise__container a .articleH3Choise__content:hover + .articleH3Choise__content__anim {
  /*transition ***********************************************/
  width: 80px;
  animation: roll 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transform: rotate(360deg);
}
.articleH3Choise__container a .fa-check {
  padding: 5px;
  border-radius: 50px;
  background-color: white;
  color: #99e1cf;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360%);
  }
}

.section__button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section__button .section__button--commander {
  border-radius: 50px;
  background-color: #9356dc;
  background: linear-gradient(150deg, #e07cc4 10%, #9c70d3 95%);
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 15px 20px;
  margin: 40px auto;
  padding: 15px 50px;
}
.section__button .section__button--commander:hover {
  box-shadow: 0 0px 4px black;
}

/*# sourceMappingURL=style.css.map */
